.btn {
    padding: 10%;
    margin: 2%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #388529;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: #3e8e41;
}
.btn:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}

.bee-btn {
    background-color: #388529; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
/*
.btn-primary {
    color: #fff;
    background-color: #388e29;
    border-color: #2e7522;
}
.btn-primary:disabled {
    color: #fff;
    background-color: #388e29;
    border-color: #2e7522;
}
.btn-primary:focus,
hover {
    cursor: pointer;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    color: #fff;
    background-color: #388e29;
    border-color: #2e7522;
}
.btn-primary:active {
    background-color: #2e7522;
    border-color: #2e7522;
}



.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
*/
