.color-listbox {
}

.select-allele {
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px;
	width: auto;
	min-width: 300px;
}
.options-alleles {
	background-color: #282c34;
	position: fixed;
	z-index: 2;
	overflow-y: auto;
	width: 320px;
	height: 400px;
	border: 2px solid black;
	border-radius: 2px;
}

.option-allele {
	font-size: 20px;
}
